<footer class="primary-background secondary-text width-top-btm">

    <div class="wrapper-footer">
        <div class="info">
            <ul class="logos">
                <li><a class="logo" href="/"><img src="/assets/logo-avl.svg"
                            alt="Back to homepage"></a></li>
                <li><a class="logo" href="/"><img src="/assets/logo-kemenkes.png"
                            alt="Back to homepage"></a></li>
            </ul>

            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec
                ut venenatis
                finibus eu.</p>
        </div>

        <section class="navigation">
            <h3>Navigation</h3>
            <ul>
                <li><a href="/webinars">Webinars</a></li>
                <li><a href="/contourings">Contourings</a></li>
                <li><a href="/speakers">Speakers</a></li>
                <li><a href="/profile">My profile</a></li>
            </ul>
        </section>

        <section class="contact-info">
            <h3>Contact information</h3>
            <ul>
                <li><a
                        href="https://www.google.com/maps/place/Plesmanlaan+121,+1066+CX+Amsterdam/@52.3495771,4.8239825,16z/data=!3m1!4b1!4m6!3m5!1s0x47c5e227c1eb2747:0x1026669cda84310e!8m2!3d52.3495739!4d4.8265574!16s%2Fg%2F11b8vd755g?entry=ttu&g_ep=EgoyMDI1MDMxOC4wIKXMDSoASAFQAw%3D%3D">Plesmanlaan
                        121, 1066 CX Amsterdam</a></li>
                <li><a href="tel:0205129111">020 512 9111</a></li>
            </ul>
        </section>
    </div>

    <div class="divider-watchlist"></div>

    <div class="extra-info">
        <p>© 2024 - Antoni van Leeuwenhoek</p>

        <ul>
            <li><a class="secondary-text" href="#">Disclaimer</a></li>
            <li><a class="secondary-text" href="#">Privacy Statement</a></li>
            <li><a class="secondary-text" href="#">Cookie Statement</a></li>
        </ul>
    </div>
</footer>

<script src="/scripts/script.js"></script>

</body>

</html>