<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oncollaboration - {{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/fav-icon.svg">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>

<body class="third-background">

    <a class="skiplink" href="#inhoud">Ga naar inhoud</a>


    <header class="main-nav">

        <div class="desktop-nav width">
            <a class="logo" href="/"><img src="/assets/logo-avl.svg" alt="Back to homepage"></a>
            <a class="logo" href="/"><img src="/assets/logo-kemenkes.png" alt="Back to homepage"></a>

            <nav>
                <ul>
                    <li>
                        <a class="secondary-text" href="/webinars"><span class="text">Webinars</span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                                <path
                                    d="M840-120v-640H120v320H40v-320q0-33 23.5-56.5T120-840h720q33 0 56.5 23.5T920-760v560q0 33-23.5 56.5T840-120ZM360-400q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T440-560q0-33-23.5-56.5T360-640q-33 0-56.5 23.5T280-560q0 33 23.5 56.5T360-480ZM40-80v-112q0-34 17.5-62.5T104-298q62-31 126-46.5T360-360q66 0 130 15.5T616-298q29 15 46.5 43.5T680-192v112H40Zm80-80h480v-32q0-11-5.5-20T580-226q-54-27-109-40.5T360-280q-56 0-111 13.5T140-226q-9 5-14.5 14t-5.5 20v32Zm240-400Zm0 400Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="secondary-text" href="/contourings"><span class="text">Contourings</span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                                <path
                                    d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-560H200v560Zm160 0v-72l-72-84q-11-11-19.5-30t-8.5-44q0-13 2.5-25.5T271-440q-5-11-8-23.5t-3-26.5q0-25 8.5-44t19.5-30l72-84v-72h60v83q0 5-7 19l-80 94q-7 8-10 16.5t-3 17.5q0 20 13 34.5t33 14.5q9 0 17-3t14-10q17-17 38.5-26t44.5-9q23 0 44.5 9t38.5 26q7 7 15 10t16 3q20 0 33-14.5t13-33.5q0-9-3.5-17.5T627-523l-80-95q-4-4-5.5-9t-1.5-10v-83h60v72l73 86q14 16 20.5 34.5T700-489q0 13-3.5 25.5T688-440q6 12 9 24.5t3 25.5q0 25-8.5 44T672-316l-72 84v72h-60v-83q0-6 7-19l80-94q7-8 10-17t3-18q-11 5-22 7.5t-23 2.5q-20 0-40-8t-35-24q-7-8-17.5-12t-22.5-4q-11 0-21.5 4T440-413q-15 16-34.5 24t-39.5 8q-12 0-23.5-2.5T320-391q0 9 3 18t10 17l80 94q3 5 5 9.5t2 9.5v83h-60Zm-160 0v-560 560Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="secondary-text" href="/watchlist"><span class="text">Watchlist</span>
                            <svg width="27" height="22" viewBox="0 0 27 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.6 0C24.5531 0 27 2.18713 27 4.80312C27 7.46199 24.5531 9.60624 21.6 9.60624C21.2625 9.60624 20.7984 9.56335 20.4609 9.52047C19.5328 10.2495 18.1406 10.9786 16.4531 10.9786C16.3687 10.9786 16.2422 10.9357 16.2 10.7641C16.2 10.7641 16.1578 10.6784 16.1578 10.6355C16.1578 10.5497 16.2 10.4639 16.2422 10.3782C16.7063 9.77778 17.2969 8.70565 17.5922 8.01949C16.7063 7.16179 16.2 6.04678 16.2 4.80312C16.2 2.18713 18.6047 0 21.6 0ZM9.45 12.3509C6.075 12.3509 3.375 9.60624 3.375 6.17544C3.375 2.78752 6.075 0 9.45 0C12.7828 0 15.525 2.78752 15.525 6.17544C15.525 9.60624 12.7828 12.3509 9.45 12.3509ZM9.45 2.05848C7.21406 2.10136 5.4 3.94542 5.4 6.17544C5.4 8.44834 7.21406 10.2924 9.45 10.2924C11.6437 10.2924 13.5 8.44834 13.5 6.17544C13.5 3.94542 11.6437 2.05848 9.45 2.05848ZM13.2047 13.037C16.3266 13.037 18.9 15.653 18.8578 18.8265V20.9279C18.8578 21.5283 18.4359 21.9571 17.8453 21.9571C17.2969 21.9571 16.8328 21.5283 16.8328 20.9279V18.8265C16.8328 16.8538 15.3562 15.2671 13.4578 15.1384V16.9396C14.5969 17.2398 15.4828 18.3977 15.4828 19.5556V20.9279C15.4828 21.0994 15.3984 21.3138 15.3141 21.4425L14.85 21.8713C14.8078 21.9142 14.6813 21.9571 14.6391 21.9571C14.5547 21.9571 14.4281 21.9142 14.3859 21.8713L13.9219 21.3996C13.8375 21.3567 13.7953 21.2281 13.7953 21.1423C13.7953 21.0565 13.8375 20.9708 13.9219 20.885L14.1328 20.6706V19.6413C14.1328 18.9552 13.7109 18.3119 13.0359 18.2261C12.9516 18.2261 12.8672 18.1832 12.825 18.1832C12.0656 18.1832 11.4328 18.8265 11.4328 19.5556V20.6706L11.6859 20.885C11.7281 20.9708 11.7703 21.0565 11.7703 21.1423C11.7703 21.2281 11.7281 21.3567 11.6859 21.3996L11.2219 21.8713C11.1797 21.9142 11.0531 21.9571 10.9688 21.9571C10.8844 21.9571 10.8 21.9142 10.7578 21.8713L10.2937 21.4425C10.2094 21.3138 10.125 21.0994 10.125 20.9279V19.6842C10.125 18.3977 10.9266 17.2398 12.15 16.9396V15.3528C11.2641 15.653 10.3359 15.7817 9.45 15.7817C8.52187 15.7817 7.59375 15.653 6.75 15.3528V17.2827C7.67813 17.5828 8.4375 18.6121 8.4375 19.5984C8.4375 20.9279 7.34063 22 6.075 22C4.76719 22 3.7125 20.9279 3.7125 19.5984C3.7125 18.6121 4.42969 17.5828 5.4 17.2827V15.1384C3.50156 15.2671 2.025 16.8538 2.025 18.8265V20.9279C2.025 21.5283 1.56094 21.9571 1.0125 21.9571C0.421875 21.9571 0 21.5283 0 20.9279V18.8265C0 15.653 2.53125 13.0799 5.65313 13.037C6.11719 13.037 6.58125 13.1657 7.00313 13.3372C7.63594 13.5517 8.73281 13.7232 9.45 13.7232C10.125 13.7232 11.2219 13.5517 11.8547 13.3372C12.2766 13.1657 12.7406 13.037 13.2047 13.037ZM7.0875 19.5556C7.0875 18.9981 6.62344 18.5263 6.075 18.5263C5.48438 18.5263 5.0625 18.9981 5.0625 19.5556C5.0625 20.1559 5.48438 20.5848 6.075 20.5848C6.62344 20.5848 7.0875 20.1559 7.0875 19.5556Z"
                                    fill="#000" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="secondary-text profile-link" href="/profile">
                            <svg class="profile-icon" xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 -960 960 960" width="24px">
                                <path
                                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                            </svg>
                            Profile
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="mobile-nav">
            <a class="logo" href="/"><img src="/assets/logo-avl.svg" alt="Logo Antoni van Leeuwenhoek Ziekenhuis"></a>
            <a class="logo" href="/"><img src="/assets/logo-kemenkes.png"
                    alt="Logo Antoni van Leeuwenhoek Ziekenhuis"></a>
        </nav>

    </header>