{% render 'partials/head.liquid', title: 'Error', counter: counter %}

<section class="error width-top">
    <img src="/assets/error-icon.svg" alt="" width="100px">

    <h1>Oops 404 error</h1>
    <p>Something went wrong. The page you are trying to reach is not available. Please check our other pages.</p>

    <ul class="navigatie-error">
        <li><a href="/">Home</a></li>
        <li><a href="/webinars">Webinars</a></li>
        <li><a href="/contourings">Contourings</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</section>

{% render 'partials/foot.liquid' %}