{% render 'partials/head.liquid', title: 'Watchlist', counter: counter %}

<section id="inhoud" class="standard-banner secondary-background width-top-btm">
    {% render 'partials/breadcrumbs.liquid', breadcrumb_title: 'Watchlist', breadcrumb_url: '/watchlist' %}

    <h1>Watchlist</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut
        venenatis.</p>
</section>

<section class="watchlist width-top-btm">
    <h2>Watch later</h2>

    <div class="divider-watchlist width"></div>

    {% if webinars and webinars.size > 0 %}
    {% render 'partials/webinar-card.liquid', webinars: webinars, watchlistIds: watchlistIds %}
    {% else %}

    <div class="fallback-webinars">
        <img src="/assets/no-webinars-icon.svg" width="50" height="50" alt="">
        <p>There are no webinars added to your watch later list. Go to webinars to add some to your watchlist.</p>
        <a class="green-link" href="/webinars">Webinars</a>
    </div>
    {% endif %}
</section>

<script src="/scripts/watchlist.js"></script>

{% render 'partials/foot.liquid' %}