{% render 'partials/head.liquid', title: 'Webinars', counter: counter %}

<section id="inhoud" class="standard-banner width-top-btm secondary-background">
    {% render 'partials/breadcrumbs.liquid', breadcrumb_title: 'Webinars', breadcrumb_url: '/webinars' %}

    <h1>Webinars</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut
        venenatis.</p>
</section>

<div class="filters width-top">

    <form class="sort-filter" method="GET" action="/webinars">
        <div class="filter-webinar">
            <p>Filter by category:</p>

            <select name="category" id="category" class="filter-select">
                <!-- Wanneer 'All' geselecteerd wordt en er is geen categorie geselecteerd of als de geselecteerde categorie een lege waarde heeft. -->
                <option value="" {% if not selectedCategory or selectedCategory=="" %}selected{% endif %}>All</option>
                {% for category in categories %}
                <!-- Als de selectedCategory gelijk is aan de category.name selecteer dan de juiste categorie -->
                <option value="{{ category.name }}" {% if selectedCategory==category.name %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-webinar">
            <p>Sort webinars:</p>
            <!-- Sorteer Filter -->
            <select name="sort" class="filter-select">
                <option value="new-old" {% if selectedSort=="new-old" %}selected{% endif %}>New to Old</option>
                <option value="old-new" {% if selectedSort=="old-new" %}selected{% endif %}>Old to New</option>
            </select>
        </div>

        <!-- Submit Button -->
        <button class="green-link" type="submit">
            {% if filtersActive %}
            <img src="/assets/filter-icon-vol.svg" alt="">
            <span>Webinars gefilterd</span>
            {% else %}
            <img src="/assets/filter-icon-leeg.svg" alt="">
            <span>Webinars filteren</span>
            {% endif %}
        </button>
    </form>
</div>


<section class="results-webinar width-top-btm">
    <h2>Results</h2>
    <p class="result-items">
        {% if webinars.size == 1 %}
        1 webinar
        {% else %}
        {{ webinars.size }} webinars
        {% endif %}
    </p>

    {% if webinars.size > 0 %}
    {% render 'partials/webinar-card.liquid', webinars: webinars, watchlistIds: watchlistIds %}
    {% else %}
    <div class="fallback-category">
        <p>There are no webinars available for the <b>categorie: {{ selectedCategory }}</b>.
            View other categories for your interests.
        </p>
    </div>
    {% endif %}

</section>

<script src="/scripts/webinars.js"></script>

{% render 'partials/foot.liquid' %}