* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url(/fonts/ubuntu-regular.ttf) format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url(/fonts/ubuntu-bold.ttf) format('truetype');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu Fallback";
    src: local("Arial");
    ascent-override: 90%;
    descent-override: 22%;
    line-gap-override: 0%;
    size-adjust: 105%;
}

body {
    /* ---------- Kleuren ---------- */
    --primary-background-color: #001432;
    --secondary-background-color: #E5EBF7;
    --third-background-color: #fff;
    --primary-highlight-color: #B6D902;

    --primary-text-color: #000A1A;
    --secondary-text-color: #fff;

    /* ---------- Fonts ---------- */
    --font-paragraph: "Ubuntu Regular", sans-serif;
    --heading-font: "Ubuntu Bold",
        sans-serif;

    /* ---------- Border radius ---------- */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-nav: 3px solid var(--primary-background-color, #001432);
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu Bold", "Ubuntu Fallback", sans-serif;
}

h1 {
    font-size: clamp(2.1875rem, 1.9022rem + 1.3043vw, 2.725rem);
    line-height: 115%;
}

h2 {
    font-size: clamp(1.5rem, 1.6rem + 0.7143vw, 2.5rem);
    line-height: 110%;
}

h3 {
    font-size: clamp(1.125rem, 1.0826rem + 0.1786vw, 1.25rem);
    line-height: 115%;
}

h4 {
    font-size: clamp(1.25rem, 1.0846rem + 0.8824vw, 1.5rem);
    line-height: 118%;
}

h5 {
    font-size: clamp(1.125rem, 0.9926rem + 0.7059vw, 1.875rem);
    line-height: 118%;
}

h6 {
    font-size: clamp(1rem, 0.9007rem + 0.5294vw, 1.5625rem);
    line-height: 118%;
}

p {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 180%;
    font-family: "Ubuntu Regular", "Ubuntu Fallback", sans-serif;
}

span {
    font-size: 16px;
    font-family: "Ubuntu Regular", "Ubuntu Fallback", sans-serif;
    color: var(--primary-text-color);
}

/* ---------------------------------- Focus state -------------------------------- */

*:focus-visible {
    outline: 3px dashed var(--primary-highlight-color);
    outline-offset: 4px;
}

/* ---------------------------------- Skip link -------------------------------------- */

/* Skiplink styling */
.skiplink {
    position: absolute;
    z-index: 110;
    left: -300px;
    top: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-highlight-color);
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
    transition: .2s ease-in-out;

}

.skiplink:focus {
    left: 7em;
    box-shadow: 0 0 0 3px var(--orange-button);
}

/* ---------------------------------- Classes kleuren -------------------------------- */

.primary-background {
    background-color: var(--primary-background-color, #001432);
}

.secondary-background {
    background-color: var(--secondary-background-color, #E5EBF7);
}

.primary-highlight {
    background-color: var(--primary-highlight-color, #B6D902);
}

.primary-text {
    color: var(--primary-text-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

/* ---------------------------------- List elementen -------------------------------- */

ul {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 200%;
    font-family: var(--font-paragraph);
}

ul li {
    list-style-type: none;
}

ol {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 140%;
    font-family: var(--font-paragraph);
}

/* ---------------------------------- Formulier -------------------------------- */

input {
    background-color: var(--secondary-text-color);
    border: none;
    padding: .9em;
    border-radius: var(--border-radius-sm);
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);

    &::placeholder {
        color: var(--primary-text-color);
    }
}

label {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-family: var(--font-paragraph);
}

.search {
    width: 100%;
}

/* ---------------------------------- Knoppen -------------------------------- */

button {
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
    transition: transform ease-in-out .2s;
    text-decoration: none;
    border: none;
}

a {
    font-size: 16px;
    font-family: var(--font-paragraph), Arial, sans-serif;
    color: var(--primary-text-color);
    transition: transform ease-in-out .2s;
    text-decoration: none;
}

.filter-link {
    background-color: var(--secondary-highlight-color);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;
    font-family: var(--font-paragraph);
    text-transform: capitalize;

    &:hover {
        color: var(--secondary-text-color);
        background-color: var(--primary-background-color, #001432);
        transition: ease-in-out .2s;
    }
}

.green-link {
    background-color: var(--primary-highlight-color, #B6D902);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-md);
    padding: 1em 1.3em 1em 1.3em;
    font-family: var(--font-paragraph);
    height: 3.2em;
    display: inline-block;
}

.green-link:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color, #001432);
    transition: ease-in-out .2s;

}

.border-link {
    background-color: #00000000;
    color: var(--primary-text-color);
    border: solid 1.5px var(--primary-background-color, #001432);
    border-radius: var(--border-radius-md);
    padding: 1em 1.3em 1em 1.3em;
    font-family: var(--font-paragraph);
    height: 3.2em;
    display: inline-block;
}

.border-link:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color, #001432);
    transition: ease-in-out .2s;

}

.profile-link {
    background-color: var(--third-background-color, #fff);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-md);
    border: none;
    padding: 0;
    font-family: var(--font-paragraph);
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: column !important;
}

.profile-link:hover {
    background-color: var(--third-background-color, #fff);
    color: var(--primary-highlight-color, #B6D902);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--primary-highlight-color, #B6D902);
}

.profile-link:hover svg path {
    fill: var(--primary-highlight-color, #B6D902);
}

/* Media query APART geschreven */
@media screen and (min-width: 720px) {
    .profile-link {
        color: var(--primary-text-color);
        border-radius: var(--border-radius-md);
        border: 1px solid var(--primary-highlight-color, #B6D902);
        background-color: var(--primary-highlight-color, #B6D902);
        padding: .8em 1.3em;
        flex-direction: row !important;
    }
}

@media screen and (min-width: 920px) {
    .profile-link:hover {
        color: var(--primary-highlight-color, #B6D902);
        background-color: var(--primary-background-color, #001432);
        border: 1px solid var(--primary-highlight-color, #B6D902);
        transition: ease-in-out .2s;
    }
}

.arrow-link {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    transition: .2s ease-in-out;
}

.arrow-link:hover img {
    translate: 40% 0%;
    transition: .2s ease-in-out;
}


/* ---------------------------------- Width van alle contentblokken -------------------------------- */

/* Default padding voor alles */
.width-top-btm {
    padding: 3.5em 1em 3.5em 1em;
}

.width-btm {
    padding: 0em 1em 3.5em 1em;
}

.width-top {
    padding: 3.5em 1em 0em 1em;
}

.width {
    padding: .8em 1em .8em 1em;
}

/* Media queries per schermgrootte */

/* Voor schermen groter dan 920px */
@media screen and (min-width: 920px) {
    .width-top-btm {
        padding: 4.5em 3em 4.5em 3em;
    }

    .width-btm {
        padding: 0em 3em 4.5em 3em;
    }

    .width-top {
        padding: 4.5em 3em 0em 3em;
    }

    .width {
        padding: .8em 3em .8em 3em;
    }
}

/* Voor schermen groter dan 1120px */
@media screen and (min-width: 1120px) {
    .width-top-btm {
        padding: 5em 7em 5em 7em;
    }

    .width-btm {
        padding: 0em 7em 5em 7em;
    }

    .width-top {
        padding: 5em 7em 0em 7em;
    }

    .width {
        padding: .8em 7em .8em 7em;
    }
}

/* Voor schermen groter dan 1600px */
@media screen and (min-width: 1600px) {
    .width-top-btm {
        padding: 4em 4em 4em 4em;
    }

    .width-btm {
        padding: 0em 4em 4em 4em;
    }

    .width-top {
        padding: 4em 4em 0em 4em;
    }

    .width {
        padding: .8em 4em .8em 4em;
    }
}